.doc .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: .68rem;
  padding: 0 .09rem;
  border-bottom: 1px solid #e8e8e8; }
.doc .user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
.doc .head-portrait {
  position: relative;
  margin-right: .2rem; }
.doc .head-portrait img {
  width: .45rem;
  height: .45rem;
  border-radius: 100%;
  display: block; }
.doc .level {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: -.15rem;
  bottom: -.02rem;
  /* width: .2rem; */
  height: .15rem;
  padding: 0 .05rem;
  background-color: #82cb5e;
  border-radius: .15rem;
  border: .01rem solid #FFF;
  color: #FFF;
  line-height: .15rem; }
.doc .level span {
  display: inline-block;
  font-size: .12rem;
  vertical-align: top;
  transform: scale(0.8); }
.doc .level label {
  font-size: .11rem;
  vertical-align: top; }
.doc .name-time {
  padding-top: .05rem;
  margin-right: .08rem; }
.doc .name {
  color: #1e1e1e;
  font-size: .16rem; }
.doc .time {
  color: #929292;
  font-size: .12rem; }
.doc .focus-on {
  width: .5rem;
  height: .26rem;
  background-color: #42beec;
  color: #FFF;
  border-radius: .03rem;
  font-size: .12rem;
  line-height: .26rem; }
.doc .designation {
  margin-top: -.1rem; }
.doc .designation li {
  float: left;
  margin: 0 .05rem; }
.doc .designation li div {
  position: relative;
  float: left;
  /* padding: .01remrem; */
  font-size: .12rem;
  color: #FFF; }
.doc .designation li span:nth-child(1) {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(2) {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(3) {
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(4) {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li label {
  display: inline-block;
  transform: scale(0.75); }
.doc .content {
  padding: .28rem .18rem;
  border-bottom: 1px solid #e7e7e7; }
.doc .content .title {
  font-size: .2rem;
  color: #1e1e1e;
  font-weight: bold;
  line-height: .28rem; }
.doc .text li p {
  margin: .28rem 0;
  color: #444;
  line-height: .24rem;
  font-size: .15rem; }
  .doc .text li p:last-child {
    margin-bottom: 0; }
.doc .text li p img {
  width: 100%;
  vertical-align: top; }
.doc .footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: .18rem .18rem; }
.doc .footer li {
  margin: .05rem;
  padding: .025rem .05rem;
  background-color: #e5e5e5;
  color: #202020;
  border-radius: .05rem;
  font-size: .12rem; }
.doc .footer li .cont {
  padding-right: .05rem;
  border-right: 1px solid #FFF; }
.doc .footer li .num {
  padding-left: .05rem; }

.atlas .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1rem;
  margin-bottom: .2rem;
  padding: 0 .95rem;
  border-bottom: 1px solid #e7e7e7; }
  .atlas .header h2 {
    font-size: .3rem;
    font-weight: bold; }
  .atlas .header p {
    font-size: .18rem;
    color: #FB7BA2; }
.atlas .content {
  display: grid;
  grid-template-columns: repeat(3, 2.5rem); }
  .atlas .content li {
    margin-bottom: 1px; }
    .atlas .content li img {
      width: 99%; }

/*# sourceMappingURL=com.css.map */
