.collection {
  position: absolute;
  display: inline-block;
  bottom: 0.3rem;
  right: 0.2rem;
  width: 1.4rem;
  height: 1.4rem; }
  .collection img {
    width: 100%;
    height: 100%; }

.recommend {
  padding: 0 .3rem; }
  .recommend .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .35rem 0;
    font-size: .24rem; }
    .recommend .top .refresh {
      color: #42BEEC; }
      .recommend .top .refresh i {
        vertical-align: middle;
        margin-right: .1rem; }
  .recommend .recommend-cont {
    display: grid;
    grid-template-columns: repeat(3, 2.3rem); }
    .recommend .recommend-cont li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 99%;
      height: 3.24rem;
      border-radius: .1rem;
      margin-bottom: 2px;
      background: url("../img/34cee5ff5ab558fd5d3f9290d634b7f5.jpg") no-repeat center center/cover;
      color: #FFF; }
      .recommend .recommend-cont li .classification {
        position: absolute;
        top: 0;
        right: 0px;
        width: .82rem;
        height: .48rem;
        vertical-align: -3px;
        font-size: .24rem;
        background-color: #CD8ADD;
        text-align: center;
        line-height: .48rem;
        border-radius: 0  .1rem 0 .1rem; }
      .recommend .recommend-cont li label {
        font-size: .2rem; }
      .recommend .recommend-cont li span {
        display: block;
        width: 100%;
        padding-bottom: .1rem;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        font-size: .18rem;
        text-align: center;
        color: #cecece; }

.doc .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: .68rem;
  padding: 0 .09rem;
  border-bottom: 1px solid #e8e8e8; }
  .doc .header .level {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: -.15rem;
    bottom: -.02rem;
    /* width: .2rem; */
    height: .15rem;
    padding: 0 .05rem;
    background-color: #82cb5e;
    border-radius: .15rem;
    border: .01rem solid #FFF;
    color: #FFF;
    line-height: .15rem; }
  .doc .header .level span {
    display: inline-block;
    font-size: .12rem;
    vertical-align: top;
    transform: scale(0.8); }
  .doc .header .level label {
    font-size: .11rem;
    vertical-align: top; }
  .doc .header .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
.doc .head-portrait {
  position: relative;
  margin-right: .2rem; }
.doc .head-portrait img {
  width: .45rem;
  height: .45rem;
  border-radius: 100%;
  display: block; }
.doc .name-time {
  padding-top: .05rem;
  margin-right: .08rem; }
.doc .name {
  color: #1e1e1e;
  font-size: .16rem; }
.doc .time {
  color: #929292;
  font-size: .12rem; }
.doc .focus-on {
  width: .5rem;
  height: .26rem;
  background-color: #42beec;
  color: #FFF;
  border-radius: .03rem;
  font-size: .12rem;
  line-height: .26rem; }
.doc .designation {
  margin-top: -.1rem; }
.doc .designation li {
  float: left;
  margin: 0 .05rem; }
.doc .designation li div {
  position: relative;
  float: left;
  /* padding: .01remrem; */
  font-size: .12rem;
  color: #FFF; }
.doc .designation li span:nth-child(1) {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(2), .doc .designation .synthesis .main ul li:nth-last-child(2) span:nth-child(3), .synthesis .main ul .doc .designation li:nth-last-child(2) span:nth-child(3), .doc .designation .synthesis .main ul li:last-child span:nth-child(3), .synthesis .main ul .doc .designation li:last-child span:nth-child(3) {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(3) {
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li span:nth-child(4) {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 1px;
  height: 1px;
  background-color: #FFF;
  border-radius: 1px; }
.doc .designation li label {
  display: inline-block;
  transform: scale(0.75); }
.doc .content {
  padding: .28rem .18rem;
  border-bottom: 1px solid #e7e7e7; }
.doc .content .title {
  font-size: .2rem;
  color: #1e1e1e;
  font-weight: bold;
  line-height: .28rem; }
.doc .text li p {
  margin: .28rem 0;
  color: #444;
  line-height: .24rem;
  font-size: .15rem; }
  .doc .text li p:last-child {
    margin-bottom: 0; }
.doc .text li p img {
  width: 100%;
  vertical-align: top; }
.doc .tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: .18rem .18rem;
  border-bottom: 1px solid #e7e7e7; }
.doc .tag li {
  margin: .05rem;
  padding: .025rem .05rem;
  background-color: #e5e5e5;
  color: #202020;
  border-radius: .05rem;
  font-size: .12rem; }
.doc .tag li .cont {
  padding-right: .05rem;
  border-right: 1px solid #FFF; }
.doc .tag li .num {
  padding-left: .05rem; }
.doc .comments .top {
  padding: 0 .18rem;
  font-size: .12rem;
  color: #42BEEC;
  line-height: .34rem;
  border-bottom: 1px solid #e7e7e7; }
.doc .comments dl {
  padding: .125rem .18rem; }
  .doc .comments dl dt {
    position: relative;
    float: left;
    width: 0.375rem;
    height: 0.375rem; }
    .doc .comments dl dt img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
    .doc .comments dl dt i {
      position: absolute;
      width: .13rem;
      height: .13rem;
      right: -.025rem;
      bottom: 0;
      background: url("../img/icon-star.png") no-repeat 0 0/cover; }
  .doc .comments dl dd {
    display: block;
    padding-left: .5rem; }
    .doc .comments dl dd .user-info span {
      display: inline-block;
      vertical-align: top; }
    .doc .comments dl dd .user-info .info-cont {
      font-size: 0; }
      .doc .comments dl dd .user-info .info-cont .name {
        font-size: .15rem; }
      .doc .comments dl dd .user-info .info-cont .level b {
        font-size: .06rem;
        vertical-align: top; }
      .doc .comments dl dd .user-info .info-cont .level em {
        font-size: .1rem;
        vertical-align: top; }
      .doc .comments dl dd .user-info .info-cont .praise {
        font-size: .1rem; }

.synthesis .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1rem;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0rem 0.21rem 0.21rem -0.21rem rgba(169, 169, 169, 0.2), 0rem -0.21rem 0.21rem -0.1rem rgba(169, 169, 169, 0.2); }
  .synthesis .header h3, .synthesis .article .header span, .article .synthesis .header span {
    font-size: .30rem;
    margin-left: .5rem; }
  .synthesis .header span {
    font-size: .18rem;
    margin-left: .4rem; }
    .synthesis .header span i {
      display: inline-block;
      font-style: normal;
      transform: scale(0.8, 0.8); }
    .synthesis .header span i:nth-child(1) {
      color: #74cff1; }
    .synthesis .header span i:nth-child(2) {
      color: #fc95b5;
      margin-left: -0.1rem; }
.synthesis .main {
  position: relative;
  padding-bottom: 4rem;
  border-bottom: 1px solid #e8e8e8; }
  .synthesis .main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.15rem; }
    .synthesis .main ul li {
      display: inline-block;
      width: 2.46rem;
      height: 2.46rem;
      margin-left: 0.03rem;
      margin-top: 0.03rem;
      background: #74cff1; }
      .synthesis .main ul li:nth-last-child(2), .synthesis .main ul li:last-child {
        display: flex;
        flex-direction: column;
        background: #e9573f; }
        .synthesis .main ul li:nth-last-child(2) span:nth-child(1) img, .synthesis .main ul li:last-child span:nth-child(1) img {
          display: inline-block;
          margin-top: 0.77rem;
          margin-left: 0.87rem;
          width: 0.65rem;
          height: 0.65rem; }
        .synthesis .main ul li:nth-last-child(2) span:nth-child(2), .synthesis .main ul li:last-child span:nth-child(2), .synthesis .main ul li:nth-last-child(2) span:nth-child(3), .synthesis .main ul li:last-child span:nth-child(3) {
          font-size: 0.01rem;
          color: white;
          margin-left: 0.05rem;
          margin-top: 0.35rem; }
        .synthesis .main ul li:nth-last-child(2) span:nth-child(3), .synthesis .main ul li:last-child span:nth-child(3) {
          margin-top: 0rem; }
      .synthesis .main ul li:last-child {
        background: #39d8d8; }
      .synthesis .main ul li img {
        width: 100%;
        height: 100%; }

.novel .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1rem;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0rem 0.21rem 0.21rem -0.21rem rgba(169, 169, 169, 0.2), 0rem -0.21rem 0.21rem -0.1rem rgba(169, 169, 169, 0.2); }
  .novel .header h3, .novel .article .header span, .article .novel .header span {
    font-size: .30rem;
    margin-left: .5rem; }
  .novel .header span {
    font-size: .18rem;
    margin-left: .5rem; }
    .novel .header span i {
      font-style: normal; }
    .novel .header span i:nth-child(1) {
      color: #74cff1; }
    .novel .header span i:nth-child(2) {
      color: #fc95b5;
      margin-left: .05rem; }
.novel .main ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem; }
  .novel .main ul li {
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0.3rem;
    border-bottom: 1px solid #e7e7e7; }
    .novel .main ul li .left {
      display: inline-block;
      width: 1.13rem; }
      .novel .main ul li .left img {
        width: 100%;
        height: 100%; }
    .novel .main ul li .right {
      display: flex;
      flex-direction: column;
      margin-left: 0.2rem; }
      .novel .main ul li .right h3, .novel .main ul li .right .article .header span, .article .header .novel .main ul li .right span {
        margin: 0;
        font-size: 0.25rem; }
      .novel .main ul li .right span:nth-child(2), .novel .synthesis .main ul li:nth-last-child(2) .right span:nth-child(3), .synthesis .novel .main ul li:nth-last-child(2) .right span:nth-child(3), .novel .synthesis .main ul li:last-child .right span:nth-child(3), .synthesis .novel .main ul li:last-child .right span:nth-child(3) {
        display: inline-block;
        color: #929292;
        margin-top: 0.1rem;
        font-size: 0.2rem; }
        .novel .main ul li .right span:nth-child(2) i:nth-child(2), .novel .synthesis .main ul li:nth-last-child(2) .right span:nth-child(3) i:nth-child(2), .synthesis .novel .main ul li:nth-last-child(2) .right span:nth-child(3) i:nth-child(2), .novel .synthesis .main ul li:last-child .right span:nth-child(3) i:nth-child(2), .synthesis .novel .main ul li:last-child .right span:nth-child(3) i:nth-child(2) {
          display: inline-block;
          margin-left: 0.3rem; }
      .novel .main ul li .right span:nth-child(3) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        width: 5.67rem;
        overflow: hidden;
        margin-top: 0.1rem;
        color: #929292;
        font-size: 0.24rem; }

.article .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1rem;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0rem 0.21rem 0.21rem -0.21rem rgba(169, 169, 169, 0.2), 0rem -0.21rem 0.21rem -0.1rem rgba(169, 169, 169, 0.2);
  flex-direction: row;
  align-items: center; }
  .article .header h3, .article .header span {
    font-size: 0.36rem;
    margin-left: 2.7rem; }
  .article .header span {
    display: inline-block;
    margin-left: 1.3rem; }
    .article .header span a {
      color: #42BEEC; }
.article .main ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem; }
  .article .main ul li {
    display: flex;
    flex-direction: row;
    height: 1.52rem;
    padding-left: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 0.3rem;
    border-bottom: 1px solid #e7e7e7; }
    .article .main ul li .left {
      display: inline-block;
      width: 1.13rem; }
      .article .main ul li .left img {
        width: 100%;
        height: 100%; }
    .article .main ul li .right {
      display: flex;
      flex-direction: column;
      margin-left: 0.2rem; }
      .article .main ul li .right h3, .article .main ul li .right .header span, .article .header .main ul li .right span {
        margin: 0;
        font-size: 0.3rem; }
        .article .main ul li .right h3 span, .article .main ul li .right .header span span, .article .header .main ul li .right span span {
          font-weight: bold;
          color: #E9573F; }
      .article .main ul li .right span:nth-child(2), .article .synthesis .main ul li:nth-last-child(2) .right span:nth-child(3), .synthesis .article .main ul li:nth-last-child(2) .right span:nth-child(3), .article .synthesis .main ul li:last-child .right span:nth-child(3), .synthesis .article .main ul li:last-child .right span:nth-child(3) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        width: 5.67rem;
        overflow: hidden;
        margin-top: 0.07rem;
        font-size: 0.24rem;
        color: #929292; }
      .article .main ul li .right span:nth-child(3) {
        display: inline-block;
        position: relative;
        color: #929292;
        width: 100%;
        text-align: left;
        margin-top: 0.07rem;
        font-size: 0.2rem; }
        .article .main ul li .right span:nth-child(3) i {
          transform: scale(0.9, 0.9); }
        .article .main ul li .right span:nth-child(3) i:not(:first-child) {
          display: inline-block;
          margin-left: 0.2rem; }
        .article .main ul li .right span:nth-child(3) i:last-child {
          position: absolute;
          right: 0rem; }
          .article .main ul li .right span:nth-child(3) i:last-child b {
            color: #42BEEC; }

.comic .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1rem;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0rem 0.21rem 0.21rem -0.21rem rgba(169, 169, 169, 0.2), 0rem -0.21rem 0.21rem -0.1rem rgba(169, 169, 169, 0.2);
  flex-direction: column;
  justify-content: center; }
  .comic .header h3, .comic .article .header span, .article .comic .header span {
    font-size: .30rem;
    margin-left: .5rem; }
  .comic .header span {
    font-size: .18rem;
    margin-left: .4rem; }
    .comic .header span i {
      display: inline-block;
      font-style: normal;
      transform: scale(0.8, 0.8); }
    .comic .header span i:nth-child(1) {
      color: #74cff1; }
    .comic .header span i:nth-child(2) {
      color: #fc95b5;
      margin-left: -0.1rem; }
.comic .main {
  position: relative;
  padding-bottom: 4rem;
  border-bottom: 1px solid #e7e7e7; }
  .comic .main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .comic .main ul li {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 2.22rem;
      margin-top: 0.2rem;
      margin-left: 0.2rem; }
      .comic .main ul li img {
        width: 100%;
        height: 2.9rem;
        border-radius: 0.1rem; }
      .comic .main ul li span {
        display: inline-block;
        margin-top: 0.1rem;
        font-size: 0.2rem;
        color: #929292;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .comic .main ul li i {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 0rem 0.1rem 0rem 0.1rem;
        right: 0;
        top: 0;
        font-size: 0.24rem;
        font-style: normal;
        width: 0.82rem;
        height: 0.48rem;
        color: white;
        background: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=com.css.map */
