.atlas{
    position: relative;
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1rem;
        padding: 0 .95rem;
        @include border-bottom;
        h2{
            font-size: .3rem;
        }
        p{
            font-size: .18rem;
            color: #FB7BA2;
        }
    }
    .content{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 2.5rem);
        padding: .4rem 0;
        @include border-bottom;
        li{
            margin-bottom: 1px;
            img{
                width: 99%;
            }
        }
        
    }
}