.doc{
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: .68rem;
        padding: 0 .09rem;
        border-bottom: 1px solid #e8e8e8;
        .level{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            right: -.15rem;
            bottom:-.02rem;
            /* width: .2rem; */
            height: .15rem;
            padding: 0 .05rem;
            background-color: rgb(130, 203, 94);
            border-radius: .15rem;
            border: .01rem solid #FFF;
            color: #FFF;
            line-height: .15rem;
        }
        .level span {
            display: inline-block;
            font-size: .12rem;
            vertical-align: top;
            transform: scale(.8);
        }
        .level label {
            font-size: .11rem;
            vertical-align: top;
        }
        .user-info{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    
    .head-portrait{
        position: relative;
        margin-right: .2rem;
    }
    .head-portrait img {
        width: .45rem;
        height: .45rem;
        border-radius: 100%;
        display: block;
    }
    
    .name-time{
        padding-top: .05rem;
        margin-right: .08rem;
    }
    .name{
        color: #1e1e1e;
        font-size: .16rem;
    }
    .time{
        color: #929292;
        font-size: .12rem;
    }
    .focus-on{
        width: .5rem;
        height: .26rem;
        background-color:rgb(66, 190, 236);
        color: #FFF;
        border-radius: .03rem;
        font-size: .12rem;
        line-height: .26rem;
    }
    .designation{
        margin-top: -.1rem;
    }
    .designation li{
        float: left;
        margin: 0 .05rem;
    }
    .designation li div{
        position: relative;
        float: left;
        /* padding: .01remrem; */
        font-size: .12rem;
        color: #FFF;
    }
    
    .designation li span:nth-child(1){
        position: absolute;
        left: 3px;
        top: 3px;
        width: 1px;
        height: 1px;
        background-color: #FFF;
        border-radius: 1px;
    }
    .designation li span:nth-child(2){
        position: absolute;
        top: 3px;
        right: 3px;
        width: 1px;
        height: 1px;
        background-color: #FFF;
        border-radius: 1px;
    }
    
    .designation li span:nth-child(3){
        position: absolute;
        bottom: 3px;
        left: 3px;
        width: 1px;
        height: 1px;
        background-color: #FFF;
        border-radius: 1px;
    }
    .designation li span:nth-child(4){
        position: absolute;
        right: 3px;
        bottom: 3px;
        width: 1px;
        height: 1px;
        background-color: #FFF;
        border-radius: 1px;
    }
    .designation li label{
        display: inline-block;
        transform: scale(.75);
    }
    .content{
        padding:  .28rem .18rem;
        border-bottom: 1px solid #e7e7e7;
    }
    .content .title {
        font-size: .2rem;
        color: #1e1e1e;
        font-weight: bold;
        line-height: .28rem;
    }
    .text li p{
        margin: .28rem 0;
        color: #444;
        line-height: .24rem;
        font-size: .15rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .text li p img {
        width: 100%;
        vertical-align: top;
    }
    .tag{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding:.18rem .18rem;
        @include border-bottom;
    }
    .tag li {
        margin: .05rem;
        padding: .025rem .05rem;
        background-color: #e5e5e5;
        color: #202020;
        border-radius: .05rem;
        font-size: .12rem;
    }
    .tag li .cont{
        padding-right: .05rem;
        border-right: 1px solid #FFF;
    }
    .tag li .num{
        padding-left: .05rem;
    }
    .comments{
        .top{
            padding: 0 .18rem;
            font-size: .12rem;
            color: #42BEEC;
            line-height: .34rem;
            @include border-bottom;
        }
        dl{
            padding: .125rem .18rem;
            dt{
                position: relative;
                float: left;
                width: (.75rem / 2);
                height: (.75rem / 2);
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
                i{
                    position: absolute;
                    width: .13rem;
                    height: .13rem;
                    right: -.025rem;
                    bottom: 0;
                    background:url('../img/icon-star.png') no-repeat 0 0 / cover;
                }
            }
            dd{
                display: block;
                padding-left: .5rem;
                .user-info{
                    span{
                        display: inline-block;
                        vertical-align: top;
                    }
                    .info-cont{
                        font-size: 0;
                        .name{
                            font-size: .15rem;
                        }
                        .level{
                            display: inline-block;
                            margin-left: .04rem;
                            padding-right: .05rem;
                            background-color: #F4D347;
                            text-align: center;
                            line-height: .2rem;
                            color: #FFF;
                            border-radius: .03rem;
                            b{
                                display: inline-block;
                                font-size: .06rem;
                                vertical-align: top;
                                font-style: oblique;
                                transform: scale(.6) translateY(3px);
                            }
                            em{
                                font-size: .1rem;
                                vertical-align: top;
                            }
                        }
                        .praise{
                            float: right;
                            margin-top: .03rem;
                            font-size: .1rem;
                            b{
                                color: #42BEEC;
                                font-size: .1rem;
                                margin-right: .05rem;
                            }
                            i{
                                display: inline-block;
                                width: .14rem;
                                height: .14rem;
                                background: url('../img/praise-no.png') no-repeat 0 0 / cover;
                            }
                        }
                    }
                    
                }
                
            }
        }
        
    }
}