.novel {
  .header {
    @include header;
    h3 {
      font-size: .30rem;
      margin-left: .5rem;
    }
    span {
      font-size: .18rem;
      margin-left: .5rem;
      i {
        font-style: normal;
      }
      i:nth-child(1) {
        color: #74cff1;
      }
      i:nth-child(2) {
        color: #fc95b5;
        margin-left: .05rem;
      }
    }
  }
  .main {
    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.3rem;
      li {
        display: flex;
        flex-direction: row;
        height: 1.5rem;
        padding-left: 0.3rem;
        padding-bottom: 0.3rem;
        margin-top: 0.3rem;
        @include border-bottom;
        .left {
          display: inline-block;
          width: 1.13rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          margin-left: 0.2rem;
          h3 {
            margin: 0;
            font-size: 0.25rem;
          }
          span:nth-child(2) {
            display: inline-block;
            color: #929292;
            margin-top: 0.1rem;
            font-size: 0.2rem;
            i:nth-child(2) {
              display: inline-block;
              margin-left: 0.3rem;
            }
          }
          span:nth-child(3) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            
            width: 5.67rem;
            
            overflow: hidden;
            margin-top: 0.1rem;
            color: #929292;
            font-size: 0.24rem;
          }
        }
      }
    }
  }
}