<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/com.css">
  <title>Kira</title>
</head>

<body>
  <div id="cente" class="center">
    <public-top></public-top>
    <div class="header">
      <div class="bag">
        <div class="big">
          <div class="top">
            <span>
              <img src="../static/img/icon-border.png" alt="">
            </span>
            <dl>
              <dd>
                <i>维多利亚</i>
                <i>
                  <img src="../static/img/icon-sex.png" alt="">
                </i>
                <i>
                  <b>Lv</b>13
                </i>
              </dd>
              <dd>
                <i>
                  <a href="#">231关注</a>
                </i>
                <i>
                  <a href="#">5242粉丝</a>
                </i>
                <i>
                  <a href="#">61234节操</a>
                </i>
              </dd>
              <dd>
                <span></span>
                <i>
                  <a href="#">kira声望值:42412</a>
                </i>
                <i>
                  <a href="#">排名:421</a>
                </i>
                <i>
                  <img src="../static/img/right.png" alt="">
                </i>
              </dd>
            </dl>
          </div>
          <div class="bottom">
            <ul>
              <li>
                <p>我只是一个小小搬运工，欢迎大家关注，在我的书包内可以会的意外惊喜哦~</p>
              </li>
              <li>
                <span>
                  <i>kira ID: 2411243</i>
                  <i>
                    <b>入学日:2017-11-23</b>
                  </i>
                </span>
                <span>
                  <a href="#">
                    <img src="../static/img/icon-bz.png" alt="">
                  </a>

                </span>
                <span>
                  <a href="#">
                    <img src="../static/img/icon-dj.png" alt="">
                  </a>

                </span>
                <span>
                  <a href="#">
                    <img src="../static/img/icon-heng.png" alt="">
                  </a>

                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="visitors">
      <ul>
        <li>
          <span>
            <i>
              <img src="../static/img/icon-jz.png" alt="">
            </i>
            访客231位
          </span>
          <span>
            查看更多
            <i>
              <img src="../static/img/icon-blueRight.png" alt="">
            </i>
          </span>
        </li>
        <li>
          <ul>
            <li v-for="items in 8">
              <img src="../static/img/1.png" alt="">
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="image">
      <ul>
        <li>
          <span>
            <i>
              <img src="../static/img/icon-people.png" alt="">
            </i>
            校园形象
          </span>
          <span>
            历史形象
            <i>
              <img src="../static/img/icon-blueRight.png" alt="">
            </i>
          </span>
        </li>
        <li>
          <div class="left">
            <img src="../static/img/mz.png" alt="">
          </div>
          <div class="right">
            <span>
              <img src="../static/img/love.png" alt="">
            </span>
            <span>1314喜欢</span>
            <span>(历史总分：14121)</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="bag">
      <ul>
        <li class="li-top">
          <span>
            <i>
              <img src="../static/img/bag.png" alt="">
            </i>
            书包243项
          </span>
          <span>
            显示全部
            <i>
              <img src="../static/img/icon-blueRight.png" alt="">
            </i>
          </span>
        </li>
        <li class="li-bom">
          <ul>
            <li v-for="aa in 3">
              <dl>
                <dd>
                  <span>漫画</span>
                  <i>Saber三姐妹</i>
                  <b>
                    <i>20节操</i>
                    <i>48项</i>
                  </b>
                </dd>
                <dd>
                  <span>
                    <img src="../static/img/1.png" alt="">
                  </span>
                  <span>是我呀</span>
                </dd>
                <dd>
                  <span>美少女</span>
                  <span>萝莉</span>
                </dd>
              </dl>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="floot">
      <ul>
        <li class="flo-1">
          <span>
            <i>
              <img src="../static/img/talk.png" alt="">
            </i>
            留言板172条1231
          </span>
          <span>
            显示全部
            <i>
              <img src="../static/img/icon-blueRight.png" alt="">
            </i>
          </span>
        </li>
        <li class="flo-2">
          <ul>
            <li v-for="bb in 3">
              <div class="talk-left">
                <img src="../static/img/1.png" alt="">
              </div>
              <div class="talk-right">
                <span><i>我的名字太长敌人看</i><i><b>Lv</b>13</i> </span>
                <span><p>人生意义：全职更新了，是在子陵更新了，孤独的美食家更新了，意大利大爷更新了，喜欢的up主更新了</p></span>
                <span>24分钟前</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</body>
<script src="../static/js/size.js"></script>
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/vue.js"></script>
<script>
  var Center = new Vue({
    el: "#cente",
    data: {

    }
  })
</script>

</html>