<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/com.css">
  <title>Document</title>
</head>

<body>
  <div class="novel">
    <div class="header">
        <h3>杂七杂八de东西</h3>
        <span>
          <i>美图-萝莉</i>
          <i>售价 15节操</i>
        </span>
    </div>
    <div class="main">
      <ul>
        <li>
          <div></div>
          <div>
            <span></span>
            <span><i></i><i></i></span>
            <span><p></p></span>
          </div>
        </li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</body>
<script src="../static/js/size.js"></script>
<script src="../static/js/jquery-2.1.3.min.js"></script>
<script src="../static/js/vue.js"></script>

</html>